{% extends "WebDocumentTracker/wrapper.html" %}
{% load static %}
{% block title %} Главная страница {% endblock %}
{% block content %}
    <table class="col-12">
        <tr>
            <th>Автор документа</th>
            <th>Дата составления</th>
            <th>Тип документа</th>
            <th>PDF Файл</th>
        </tr>
        {% for i in elements %}
            <tr>
                <td>Фамилия И.О.</td>
                <td>дата{{ i }}</td>
                <td>Тип документа</td>
                <td>PDF Файл</td>
            </tr>
        {% endfor %}
    </table>
{#    {% include 'WebDocumentTracker/includes/element.html' %}#}
{% endblock %}